<!-- <div *ngIf="isLoading" class="text-center text-primary">
  <div class="spinner-border" style="width: 10rem; height: 10rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div> -->

<div *ngIf="isLoading" class="container mt-5">
  <div class="loader"></div>
</div>


<section *ngIf="!isLoading" class="mt-3">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <div *ngIf="posts.length > 0" class="container">
        <div *ngFor="let post of posts" class="card mb-3">
          <div class="card-header bg-primary text-white">
            <div class="row">
              <div class="col-md-10">
                <h5> {{post.title}} </h5>
              </div>
              <div class="col-md-2">
                <a class="btn btn-primary btn-sm" [routerLink]="['/updpost']">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a class="btn btn-primary btn-sm" [routerLink]="['/updpost']">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </div>
            </div>

          </div>
          <div class="card-body">
            <h5 class="card-title">Duration: 12 Weeks</h5>
            <p class="card-text">{{post.content}}</p>
            <!-- <a [routerLink]="['/updpost']" class="card-link btn btn-sm btn-primary"><i class="fa fa-pencil"
                aria-hidden="true"></i>
              Edit</a>
            <a [routerLink]="['/updpost']" class="card-link btn btn-sm btn-danger"><i class="fa fa-trash"
                aria-hidden="true"></i>
              Delete</a> -->
          </div>
        </div>
      </div>
      <p *ngIf="posts.length === 0"> No Posts</p>
    </div>
  </div>

</section>
